{% extends 'base.html'  %}
{% block content %}
    <section id="hero" class="hero section dark-background">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                    <h1>Desculpe!</h1>
                    <p><b> Não</b> conseguimos encontrar esta página</p>

                    <div class="d-flex">
                        <a href="/" class="btn-get-started">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
