{% load static %}
    <section id="about" class="about section">
        <div class="container section-title" data-aos="fade-up">
            <h2>Sobre mim</h2>
        </div>
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <p>{{profile.message}}</p>
                    <ul>
                        {% for service in services %}
                            <li><i class="bi bi-check2-circle"></i> <span>{{service.name}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <p>{{profile.bio}}</p>
                <a href={{profile.linkedin}} target="_blank" class="read-more"><span>Saiba mais</span><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
