{% load static %}
    <section id="about" class="about section">
        <div class="container section-title" data-aos="fade-up">
            <h2>Sobre mim</h2>
        </div>
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <p>Penso na tecnologia como ferramenta.</p>
                    <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Desenvolvimento WEB</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Desenvolvimento backend.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Busco inovação constantemente</span></li>
                    </ul>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <p>
                Desenvolvedor Backend com experiência em Python e Django, apaixonado por criar soluções eficientes e escaláveis. 
                Busco constantemente aprimorar minhas habilidades e contribuir para o desenvolvimento de aplicações inovadoras.
                </p>
                <a href="https://www.linkedin.com/in/juliopaiva-developer" class="read-more"><span>Saiba mais</span><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
