{% load static %}
<section id="call-to-action" class="call-to-action section dark-background">
    <img src="{% static 'img/bg.jpg' %}" alt="">
        <div class="container">
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-xl-9 text-center text-xl-start">
                    <h3>Gostou do que viu?</h3>
                    <p>Se quiser conversar sobre projetos, oportunidades ou tecnologia. </p>
                </div>
                <div class="col-xl-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" target="_blank" href="https://wa.me/55016992755748">Vamos construir algo juntos</a>
                </div>
            </div>
      </div>
</section>