{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Profile</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>

    <body>
        <div class="container">
            <p>Olá!<span> Seja bem-vindo(a)!</span></p>

            {% for attribute in key %}
                <p>Eu sou o <span> {{ attribute }}</span></p>
            {% endfor %}

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link">Contato</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>
                </li>
            </ul>
        </div>

    {% bootstrap_javascript %}

    </body>
</html>
