{% load static %}
<section id="recent-blog-postst" class="recent-blog-postst section light-background">
    <div class="container section-title" data-aos="fade-up">
        <h2>Confira nossos posts</h2>
        <p>Você vai amar esse conteúdo! 🔥</p>
    </div>
    <div class="container">
        <div class="row gy-5">
            {% for post in profile.posts.all %}
                <div class="col-xl-4 col-md-6">
                    <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">
                        <div class="post-img position-relative overflow-hidden">
                            <img src="{{ post.image.medium.url }}" class="img-fluid" alt="">
                            <span class="post-date">{{ post.created_at|date:"F d" }}</span>
                        </div>
                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">{{ post.title }}</h3>
                            <div class="meta d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-person"></i> <span class="ps-2">Júlio Paiva</span>
                                </div>
                                <span class="px-3 text-black-50">/</span>
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-folder2"></i> <span class="ps-2">{{ post.category }}</span>
                                </div>
                            </div>
                            <hr>
                            <a href="{{ post.url }}" class="readmore stretched-link"><span>Saiba mais</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
</section>