{% load static %}
{% load i18n %}

<section id="hero" class="hero section dark-background">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                <h1>{% trans "Seja Bem-Vindo(a)!" %}</h1>
                {% if profile %}
                    <p><b> {{profile.nickname}}</b> - {{profile.position}}</p>
                {% else %}
                    <p><b> Júlio Paiva</b> - Backend Developer</p>
                {% endif %}
                <div class="d-flex">
                {% if profile %}
                    <a href="{{profile.github}}" target="_blank" class="btn-get-started">GitHub</a>
                    <a href="{{profile.video}}" class="glightbox btn-watch-video d-flex align-items-center">
                        <i class="bi bi-play-circle"></i><span>{% trans "Assista ao vídeo" %}</span>
                    </a>
                {% endif %}
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>
