{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recomendações</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>

    <body>
        <div class="container">
            {% for recommendation in recommendations %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{recommendation.title}}</h5>
                    </div>
                    <div class="card-body">
                        <span class="badge rounded-pill bg-light text-dark">
                            {{recommendation.resource_type}}
                        </span>


                        <p class="card-text">{{recommendation.description}}</p>
                    
                        <a href="{{recommendation.url}}" class="btn btn-primary">
                            Visitar
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% bootstrap_javascript %}

    </body>
</html>
